.header-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 0 16px;
}


.header-gradient {
    width: 100%;
    max-width: 800px;
    padding: 2px;
    border-radius: 16px;
    background: linear-gradient(to right, purple, pink, rgb(222, 42, 192));
}


.header-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}


.icon-box {
    background: black;
    color: white;
    padding: 8px;
    border-radius: 10px;
}


.header-title {
    font-size: 20px;
    font-weight: 600;
}


.header-date {
    font-size: 14px;
    background: #f3f3f3;
    padding: 5px 10px;
    border-radius: 8px;
    color: #555;
}